@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {

    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.main-header {

    padding: 32px;
    
}

.main-header ul {

    list-style: none;

}

.main-header ul li {

        width: 100px;
        color: seashell;
        background-color: slategrey;
        text-align: center;
        padding: 24px;
        border-radius: 12px;
        margin-bottom: 6px;

}

.main-header ul li:nth-child(2) { 

        background-color: tomato;  
    

}


main {

        padding: 32px;
}

.custom-input {

    width: 200px;
    border: 0;
    background-color: #a0a0a0;
    padding: 6px 12px;
    border-radius: 12px;
}

.custom-input:hover {

    width: 300px;
    background-color: #fff5ee;

}

.custom-input:focus {

     background-color: #a7a4a3;
     width: 300px;
}

.custom-checkbox {


}

.success-button {

    color: cornsilk;
    border: 0;
    padding: 12px 24px;
    background-color: rgb(51, 95, 7);
    border-radius: 12px;
    transition: .4s;

}

.success-button:hover {

    background-color:rgb(108, 165, 43) ;
    border-radius: 32px;

}